#votepage .votechoose .listVote{
	float:left;
	margin:15px 15px 15px 15px;
}

#votepage .votepost{
	padding-top:30px;
	padding-bottom:30px;
}

#votepag2 .middle table{
	width:;
}

#votepag2 .middle{
	text-align:center;
}
#votepag2 .about{
	line-height:40px;
}